<div class="unstyled">
  <h3>Welcome to the Misspelling Game</h3>
  <p>by Mikhail Malkov</p>
  <p></p>
  <p>Do you want to start the game?</p>
  <form action="question" method="post">
    <button type="submit" name="button" class="btn btn-primary">Start!</button>
  </form>
</div>
