<form action='cast' method='post'>
  <ul class='unstyled'>
    <% @food_options.each do |food| %>
      <li>
        <label class='radio'>
          <input type='radio' name='vote' value='<%= food[:abbr] %>' id='vote_<%= food[:abbr] %>' />
          <%= food[:name] %>
        </label>
      </li>
    <% end %>
  </ul>
  <button type='submit' class='btn btn-primary'>Cast this vote!</button>
</form>
