<div class="normal">
</div>
<table class='table table-hover table-striped'>
  <tr>
    <th>Food</th>
    <th>Number of points</th>
  </tr>
  <% @sorted_votes.each do |item| %>
  <tr>
    <td><%= item[:name] %></td>
    <td><%= item[:votes] %></td>
  </tr>
  <% end %>
</table>
<p>
  <a href="/">Cast another vote</a>
</p>
