<table class='table table-hover table-striped'>
  <tr>
    <th>Food</th>
    <th>Number of points</th>
  </tr>
  <% Choices.each do |key, food| %>
  <tr>
    <td><%= food %></td>
    <td><%= @votes[key] %></td>
  </tr>
  <% end %>
</table>
