<div class="normal">
  <%= @votes_class %>
</div>
<table class='table table-hover table-striped'>
  <tr>
    <th>Food</th>
    <th>Number of points</th>
  </tr>
  <% @sorted_votes.each do |item| %>
  <tr>
    <td><%= item["abbr"] %></td>
    <td><%= item["votes"] %></td>
  </tr>
  <% end %>
</table>
